body{
    color: #666;
    font-size: 14px;
	line-height: 1;
	position:relative;
}
#header{width:100%;height:30px;background-color:#ccc;}
#content{margin:0 auto; }
#listBox{width:100%;}

/*禁用iphone中的safari的字号自动调整*/
html{
	-webkit-text-size-adjust:none;
}

/*设置图片视频等自适应*/
img{
	max-width:100%;
	height:auto;
	width:auto9;
}
video{
	width:100%;
	height:auto;
}
@media screen and (min-width:992px) {
	.fixed {
		position:fixed;
		top:160px;
		left:50px;
		width:45%;
	}
	/*.fixed-right{
		position:absolute;
		left:630px;
		top:160px;
		width:45%;
	}*/
}

/*表情的样式*/
.wrapper-cont-dw {
    height: auto;
    margin-top: 5px;
    padding: 1px;
    width: 288px;
}
.Input_Box {     
    width: 92%;     
    height: 150px;     
    border: 1px solid #ccc;     
    transition: border linear .2s, box-shadow linear .5s;     
    -moz-transition: border linear .2s, -moz-box-shadow linear .5s;     
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;     
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;     
    border-radius: 5px;     
    background-color: #fff;     
    overflow: hidden;     
    position: absolute;     
    -moz-box-shadow: 0 0 5px #ccc;     
    -webkit-box-shadow: 0 0 5px #ccc;     
    box-shadow: 0 0 5px #ccc;   
	margin-top:35px;
} 
.Input_Box>textarea {     
    width: 100%;     
    height: 111px;     
    padding: 5px;     
    outline: none;     
    border: 0px solid #fff;     
    resize: none;     
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;     
    border-radius: 5px;     
} 
.Input_Foot {     
    width: 100%;     
    height: 38px;     
    border-top: 1px solid #ccc;     
    background-color: #fff;     
    -moz-border-radius: 0 0 5px 5px;     
    -webkit-border-radius: 0 0 5px 5px;     
    border-radius: 0 0 5px 5px;     
    position: absolute;     
} 
.imgBtn {     
    float: left;     
    margin-top: 8px;     
    margin-left: 10px;               
    cursor: pointer;   
	font-size:22px;	
} 
.imgBtn:active {     
    margin-top: 9px;     
}     
.imgBtn:hover {     
    background-position: 0 -31px;     
}     
.postBtn {     
    float: right;     
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
    color: #808080;     
    padding: 9px 20px 7px 20px;     
    border-left: 1px solid #ccc;     
    cursor: pointer;     
    -moz-border-radius: 0 0 5px 0;     
    -webkit-border-radius: 0 0 5px 0;     
    border-radius: 0 0 5px 0;     
}  
.postBtn:hover {     
    color: #333;     
    background-color: #efefef;     
}     
.postBtn:active {     
    padding: 10px 20px 6px 20px;     
}     
.faceDiv {     
    width: 100%;     
    height: 115px;     
	overflow :auto;
    border-top: 1px solid #ccc;   
    position: absolute;     
    background-color: #fff;     
    -moz-border-radius: 5px 5px 0 0;     
    -webkit-border-radius: 5px 5px 0 0;     
    border-radius: 5px 5px 0 0;     
}     
.faceDiv>img {     
    border: 1px solid #ccc;     
    float: left;     
    margin-left: -1px;     
    margin-top: -1px;     
    position: relative;     
    width: 24px;     
    height: 24px;     
    padding: 3px 3px 3px 3px;     
    cursor: pointer;     
}     
.faceDiv>img:hover {     
    background-color: #efefef;     
}     
.faceDiv>img:active {     
    padding: 4px 3px 2px 3px;     
}    